NODE_ENV=local
VERSION=1
TYPEORM_CONNECTION=postgres
TYPEORM_MIGRATIONS_DIR=./dist/src/migrations
TYPEORM_ENTITIES=./dist/src/modules/domain/**/*.entity.ts
TYPEORM_MIGRATIONS=./dist/src/migrations/*.ts

# Use these values for the local PG database from the Docker Compose file localhost password 5532
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=Welcome1
TYPEORM_DATABASE=postgres